@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  letter-spacing: .07rem;
}

.hero-image {
  position: absolute;
  width: 230px;
  height: 500px;
  border-radius: 40px;
}
